<%- include('../includes/admin/head.ejs') %>

<%- include("../includes/admin/navigation.ejs") %>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Add Quiz</h1>
                <form method="post" action="/admin/add-quiz" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" />
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" class="form-control" id="image" name="image" />
                    </div>
                    
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                        <a type="button" class="btn btn-secondary" href="/admin/quizzes">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>


<%- include("../includes/admin/footer.ejs") %>